<template>
    <v-flex md12>
        <v-layout row wrap>
            <v-flex xs12 sm6 md6>
                <p class="title ptl15">Игры</p>
            </v-flex>
            <v-flex xs12 sm6 md5 class="mobile-pd">
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    class="datatable-search"
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md1 class="text-xs-right">
                <v-btn flat icon color="pink" @click="openCreateItem()">
                    <v-icon>library_add</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>
        <v-data-table
            :headers="headers"
            :items="games"
            class="elevation-1"
            :rows-per-page-items="pagination"
            :search="search"
        >
            <template v-slot:items="props">
                <tr @click="getItem(props.item)" style="cursor: pointer">
                    <td>{{ props.item.id }}</td>
                    <td class="text-xs-left">{{ props.item.bid }}</td>
                    <td class="text-xs-left">{{ props.item.start_time }}</td>
                    <td class="text-xs-left">{{ props.item.end_time }}</td>
                    <td class="text-xs-left">{{ props.item.game_time }}</td>
                    <td class="text-xs-left">{{ props.item.winner }}</td>
                    <td class="text-xs-left">{{ props.item.player_1 }}</td>
                    <td class="text-xs-left">{{ props.item.player_2 }}</td>
                    <td class="text-xs-left">{{ props.item.status }}</td>
                    <td class="text-xs-right">
                        <v-icon small class="mr-2" style="cursor: pointer">
                            info
                        </v-icon>
                        <v-icon small class="mr-2" @click.stop="openEditItem(props.item)">
                            edit
                        </v-icon>
                        <v-icon small @click.stop="deleteItem(props.item)">
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
    export default {
        props:[
            'allGames',
        ],
        components: {},
        data: () => ({
            games: [],
            headers: [
                { text: 'ID', align: 'left', value: 'id' },
                { text: 'Bid', align: 'left', value: 'bid' },
                { text: 'Start Time', align: 'left', value: 'start_time' },
                { text: 'End Time', align: 'left', value: 'end_time' },
                { text: 'Game Time', align: 'left', value: 'game_time' },
                { text: 'Winner', align: 'left', value: 'winner' },
                { text: 'Player 1', align: 'left', value: 'player_1' },
                { text: 'Player 2', align: 'left', value: 'player_2' },
                { text: 'Status', align: 'left', value: 'status' },
                { text: 'open/edit/delete', align: 'right', sortable: false, value: 'editdelete' },
            ],
            pagination: [10,20,30,{"text":"$vuetify.dataIterator.rowsPerPageAll","value":-1}],
            editCreateDialog: null,
            search: '',
            activeItem: {},
            action: false,
            currentGame: {
                id: '',
                bid: '',

            },
            info: null,
            createdId: null,
            rules: [
                v => !!v || 'Is required'
            ],
            valid: true
        }),
        mounted() {
            this.games = this.allGames
            console.log(this.allGames)
        },
        methods: {
            openCreateItem(){
                this.action = true
                this.currentGame = {}
                this.editCreateDialog = true
            },
            openEditItem(item){
                this.action = false
                this.editGameId = item.id
                console.log(item);
                this.currentGame = {}
                this.editCreateDialog = true
            },
            createItem(){
                axios.post('/admin/game', {})
                    .then((response) => {
                        this.createdId = response.data
                        this.refreshItems()
                        this.editCreateDialog = false
                        this.dialogApproveTime = true

                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateItem() {

            },
            deleteItem(item) {

            },
            refreshItems(){

            }
        }
    }
</script>

<!--<style scoped lang='scss'>

    .fc-button-primary:not(:disabled):active,
    .fc-button-primary:not(:disabled).fc-button-active{
        color: #fff;
        background-color: #3f52b5;
        border-color: #3f52b5;
    }
    .fc-button-primary {
        color: #fff;
        background-color: #1876d2;
        border-color: #1876d2;
    }

    .fc-button .fc-icon {
        font-size: 1em;
        line-height: 12px;
    }

    .name{
        background: rgba(255, 255, 255, 0.5);
        color: #000!important;
    }

    .display-1{
        width: 100%;
    }

</style>-->
