a {
  text-decoration: none;
}

.main-logo {
  max-height: 70px;
  margin-top: 10px;
}

.datatable-search {
  padding-top: 0 !important;
  margin-bottom: 15px;
}

.ck-content {
  height: 300px;
  color: #000;
}

.offer-image {
  width: 80px;
  margin: 5px 0;
}

.edit-create-dialog {
  width: 20%;
}

.slick-prev:before,
.slick-next:before {
  content: "<";
  color: #000;
  padding: 4px 8px;
  background: #f1f1f1;
  border-radius: 100%;
}

.slick-next:before {
  content: ">";
}

.slick-prev:hover::before,
.slick-next:hover::before {
  background: #dedede;
}

.slick-prev {
  color: transparent;
  width: 0px;
  height: 0px;
  outline: none;
  position: absolute;
  top: 25px;
  left: -12px;
  z-index: 1;
}

.slick-next {
  color: transparent;
  width: 0px;
  height: 0px;
  outline: none;
  position: absolute;
  top: 25px;
  right: 12px;
  z-index: 1;
}

.tag-chips {
  height: 18px;
}

.tag-chips .v-chip__content {
  font-size: 12px;
  padding: 0 6px !important;
}

.tag-chips-container {
  min-width: 300px;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
  border: 1px solid #2c3e51;
  border-radius: 4px;
}

.fc-button .fc-icon {
  font-size: 1em !important;
  line-height: 12px;
}

.t-time {
  height: 19px !important;
}

.fc-event,
.fc-event-dot {
  background-color: #2196F3 !important;
}

.main-header .logo {
  text-align: left !important;
}

.logo img {
  height: 53px !important;
}

#app #mobile-nav {
  width: 100% !important;
  display: none;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.v-content {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.v-text-field.v-text-field--solo .v-input__append-outer {
  padding: 0 !important;
}

.mobile-title-small {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 !important;
  }

  .xs12 {
    padding-right: 0 !important;
  }

  .md10 .v-card {
    padding: 0 !important;
  }

  .fc-center {
    font-size: 8px;
  }

  .mobile-title {
    margin-top: 24px;
  }

  .mobile-title-small {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 18px;
    display: block;
  }

  .mobile-hide {
    display: none !important;
  }

  .main-hide {
    display: block !important;
  }

  .fc-day-header {
    font-size: 10px;
  }

  .left-ic {
    line-height: 18px !important;
  }

  .main-logo {
    max-height: 52px;
    margin-top: 8px;
  }

  .mobile-nav-list .v-list__tile__title {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .mobile--menu--active {
    background: #d2d2d2;
  }

  .fc-header-toolbar {
    padding: 0 15px;
  }

  .container .mobile-pd {
    padding: 15px !important;
  }

  .coach-mobile .mobile-info {
    padding: 0 !important;
    margin-top: 15px;
  }

  .v-input__append-outer {
    display: none !important;
  }

  .mb-tariffs .flex-block {
    padding-right: 0 !important;
  }

  .mb-tariffs .v-list {
    padding-right: 0 !important;
  }

  .mb-tariffs .md6 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .mb-tariffs .title {
    padding: 20px 20px !important;
    background: #212121;
    color: #fff;
  }

  .mb-tariffs {
    padding-bottom: 60px;
  }

  .mb-tariffs .v-divider {
    display: none;
  }

  .fc-today-button {
    display: none !important;
  }

  .mpl15 {
    padding-left: 15px !important;
  }

  .ptl15 {
    padding-top: 15px !important;
    padding-left: 15px !important;
  }

  .fc-time-grid-container {
    height: 290px !important;
  }

  .container .mbpl-0 {
    padding-left: 0 !important;
  }
}

