<template>
    <div id="app">
        <profile v-show="isProfileVisible" @close="closeProfileModal" />
        <gameRules v-show="isGameRulesVisible" @close="closeRulesModal" />
        <div id="nav">
            <router-link to="/" id="index">Главная</router-link>
            <a id="help" @click="showRulesModal">Как играть?</a>
            <div id="app-name">
                <router-link to="/" id="logo"><img src="../../assets/img/logoruletka2.png"></router-link>
            </div>
            <a v-show="user" id="profile" @click="showProfileModal">Профиль</a>
            <a v-show="!user" to="/register" id="register">Регистрация</a>
            <router-link v-show="!user" to="/login" class="login">Войти</router-link>
            <router-link v-show="user" to="/logout" class="login">Войти</router-link>
        </div>
        <div id="saloon">
        </div>
        <div id="game">
            <div id="title"><img src="../../assets/img/game-title.png"></div>
            <div id="buttons">
                <a id="info"></a>
                <a id="sound" @click="toggleSound()"></a>
                <a id="lang"><img src="../../assets/img/buttonlangen.png"></a>
                <a id="full-screen" @click="toggleFullscreen()"></a>
            </div>
            <div id="bottom-game-panel">
                <img id="bottom-game-avatar" src="../../assets/img/avatar-default.png">
            </div>
            <router-view/>
        </div>
        <div id="bgelements"></div>
    </div>
</template>


<script lang="ts">
    import profile from './components/Profile.vue';
    import gameRules from './components/GameRules.vue';

    import $ from 'jquery';
    // import fullscreen from 'vue-fullscreen/src/component';
    import { Component,  Vue } from 'vue-property-decorator';

    @Component
    export default {
        // components: {fullscreen},
        components: {profile,gameRules},
        props: [
            'allData',
        ],
        computed: {},
        mounted () {
            if( this.isSound )
            {
                $('#sound').addClass('active');
            }
            else {
                $('#sound').removeClass('active');
            }
            console.log(this.allData);
        },
        data() {
            return {
                isSound: true,
                isProfileVisible: false,
                isGameRulesVisible: false,
                user: false,
                phrases: 'disabled',
            }
        },
        methods: {
            showProfileModal() {
                this.isProfileVisible = true;
            },
            closeProfileModal() {
                this.isProfileVisible = false;
            },
            showRulesModal() {
                this.isGameRulesVisible = true;
            },
            closeRulesModal() {
                this.isGameRulesVisible = false;
            },
            makeAuth() {
                this.user = {
                    id: 1,
                };
                console.log(this.user.id);
            },
            toggleFullscreen() {
                if (!document.fullscreenElement &&
                    !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
                    if (document.documentElement.requestFullscreen) {
                        document.documentElement.requestFullscreen();
                    } else if (document.documentElement.msRequestFullscreen) {
                        document.documentElement.msRequestFullscreen();
                    } else if (document.documentElement.mozRequestFullScreen) {
                        document.documentElement.mozRequestFullScreen();
                    } else if (document.documentElement.webkitRequestFullscreen) {
                        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    }
                    $('#full-screen').addClass('active');
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                    $('#full-screen').removeClass('active');
                }
            },
            toggleSound() {
                if( this.isSound )
                {
                    $('#sound').removeClass('active');
                    this.isSound = false;
                }
                else {
                    $('#sound').addClass('active');
                    this.isSound = true;
                }
            },
        },
    }
</script>

<style lang="scss">
</style>
