<template>
    <div class="game" style="padding: 0;">
        <div class="left-player-info">

            <div class="player">
                <div class="player-avatar"><img src="/img/wwrtwrtwartaw11.png"></div>
                <div class="player-name">Иван Иванов</div>
                <div class="player-progress-bar"></div>
                <div class="player-name-1">{{lSec}} сек</div>
            </div>
        </div>
        <div class="right-player-info">
            <div class="player">
                <div class="player-avatar"><img src="/img/wwrtwrtwartaw11.png"></div>
                <div class="player-name">Иван Иванов</div>
                <div class="player-progress-bar"></div>
                <div class="player-name-1">{{rSec}} сек</div>
            </div>
        </div>
        <div class="action">
            <div class="left-a">
                <video width="370" autoplay muted>
                    <source v-bind:src="left_Player.valueOf()" type="video/mp4">
                </video>
            </div>
            <div class="right-a">
                <video width="370" autoplay muted>
                    <source v-bind:src="right_Player.valueOf()"  type="video/mp4">
                </video>
            </div>
            <div class="action-timer">
                <v-progress-circular
                    :rotate="360"
                    :size="100"
                    :width="15"
                    :value="currentSeconds / startSeconds * 100"
                    color="#FBC328"
                >
                    {{ currentSeconds }}
                </v-progress-circular>
            </div>

        </div>
        <div class="bottom-game-panel">
            <a class="game-bid-start first" @click="shootSelf"  style="position: absolute; left: 95px;">
                <div class="game-bid-start-title actions">{{this.$root.Language.loc.game.shoot_self}}</div>
            </a>
            <a class="game-bid-start second" @click="shootEnemy" style="position: relative;">
                <div class="game-bid-start-title actions">{{this.$root.Language.loc.game.shoot_enemy}}</div>
            </a>
            <a class="game-bid-start third" @click="roll" style="position: absolute;">
                <div class="game-bid-start-title actions">{{this.$root.Language.loc.game.roll}}</div>
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    export default {
        components: {},
        props: [ ],
        data () {
            return {
                left_Player: '/animations/left/cowboy/take.mp4',
                right_Player: '/animations/right/cowboy/take.mp4',
                lSec: 0,
                rSec: 0,
                startSeconds: 30,
                currentSeconds: 0
            };
        },
        mounted () {
            console.log('gameactions');
            this.currentSeconds = this.startSeconds;
            var self = this;
            var refreshIntervalId = setInterval(function (e) {
                console.log(self.currentSeconds);
                self.currentSeconds--;
                if(self.currentSeconds <=0) {
                    self.currentSeconds = '';
                    clearInterval(refreshIntervalId);
                }
            },1000);
        },
        methods: {
            shootSelf() {
                let app = this;
                this.left_Player = '/animations/left/cowboy/self_shoot_true.mp4';
                console.log(this.left_Player);

                setTimeout(function() {
                    app.$root.gameResult = 'looser';
                },2000);
            },
            shootEnemy() {
                let app = this;
                this.left_Player = '/animations/left/cowboy/shoot_enemy_true.mp4';
                console.log(this.left_Player);

                setTimeout(function() {
                    app.$root.gameResult = 'winner';
                },2000);
            },
            roll() {

            }
        }
    }
</script>
