<template>
    <div class="game">
        <div class="game-found-title">{{this.$root.Language.loc.found.title}}</div>
        <div class="game-found-bid">{{this.$root.Language.loc.found.sub_title}}<span style="color: green">{{ sec }} {{this.$root.Language.loc.sec}}</span></div>
        <div class="bottom-game-panel">
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        props: {
            seconds: Number,
        },
        computed: {

        },
        data () {
            return {
                sec: this.seconds
            };
        },
        mounted () {
            var curr = this;
            $(document).ready(function () {
                $('.game-bid-sum-select').click(function () {
                    $('.game-bid-sum-select').removeClass('active');
                    $(this).addClass('active');
                });
            });
            curr.setSec(5);
            var refreshIntervalId = setInterval(function (e) {
                curr.declareSec();
                if(curr.sec <=0) {
                    clearInterval(refreshIntervalId);
                    curr.$router.push('/game/action');
                }
            },1000);

        },
        methods: {
            toggle () {
                this.$refs['fullscreen'].toggle()
                this.$fs.toggle(this.$el.querySelector('.example'), {
                    wrap: false,
                    callback: this.fullscreenChange
                })
            },
            fullscreenChange (fullscreen) {
                this.fullscreen = fullscreen
            }
        },
        methods: {
            setSec: function(val) {
                this.sec = val;
            },
            declareSec: function () {
                this.sec -= 1;
            }
        }
    }
</script>
