<template>
    <div class="game">
        <router-link to="/game/make_bid" class="game-start">{{this.$root.Language.loc.game.start}}</router-link>
        <div class="bottom-game-panel">
            <div class="game-stat">
                <div class="game-stat-title">{{this.$root.Language.loc.stats.played}}</div>
                <div class="game-stat-count">123</div>
            </div>
            <div class="game-stat">
                <div class="game-stat-title">{{this.$root.Language.loc.stats.win_sum}}</div>
                <div class="game-stat-count">46000 р.</div>
            </div>
            <div class="game-stat">
                <div class="game-stat-title">{{this.$root.Language.loc.stats.balance}}</div>
                <div class="game-stat-count">46000 р.</div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
</style>

<script>
    export default {
        mounted() {
            if(!this.$auth.check()) {
                this.$router.push('/login');
            }
        }
    }
</script>
