<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                            type="button"
                            class="btn-close"
                            @click="$emit('close')"
                            aria-label="Close modal"
                        >
                        </button>
                    </slot>
                </header>
                <section
                    class="modal-body"
                    id="modalDescription"
                >
                    <slot name="body">
                        <div class="mbody-overflow">
                            <div class="row title-row">{{this.$root.Language.loc.how_to_play_title}}</div>
                            <div class="row width">
                                <div class="col-6">
                                    <img src="/img/01.png">
                                    <label>Зарегистрируйтесь в онлайн игре</label>
                                </div>
                                <div class="col-6">
                                    <img src="/img/02.png">
                                    <label>Выберите персонажа</label>
                                </div>
                                <div class="col-6">
                                    <img src="/img/03.png">
                                    <label>Играйте и побеждайте</label>
                                </div>
                                <div class="col-6">
                                    <img src="/img/04.png">
                                    <label>Выводите деньги на вашу карту</label>
                                </div>
                            </div>
                            <div class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    export default {
        name: "game-rules",
        methods: {
        },
    };
</script>
