<template>
    <div class="game results">
        <div v-show="winner || looser" class="modal-backdrop" ></div>
        <div v-show="winner" class="game-found-title" >Поздравляем, Вы победили!</div>
        <div v-show="looser" class="game-found-title" >К сожалению, вы проиграли</div>
        <div v-show="winner" class="game-found-bid" >Ваш выигрыш <span>500 р</span></div>
        <div v-show="looser" class="game-found-bid" >Ваш проигрыш <span>500 р</span></div>

        <a v-show="winner || looser" to="/game/make_bid" class="game-start new" style="z-index: 25; margin-right: 20px; top: 60%;" @click="newGame">Начать игру</a>
        <a v-show="winner || looser" to="/game/search" class="game-start again" style="z-index: 25; top: 60%;" @click="againGame">Еще раз</a>
    </div>
</template>

<script>
    export default {
        props: ['gameResult'],
        watch: {
            // эта функция запускается при любом изменении вопроса
            gameResult: function () {
                if (this.gameResult == 'winner') {
                    this.winner= true;
                    this.looser= false;
                }
                else if (this.gameResult == 'looser') {
                    this.winner= false;
                    this.looser= true;
                }
                else {
                    this.winner= false;
                    this.looser= false;
                }
            }
        },
        computed: {
        },
        data () {
            return {
                winner: false,
                looser: false,
            };
        },
        mounted () {

        },
        methods: {
            newGame() {
                this.stopGame();
                this.$root.$router.push('/game/make_bid');
            },
            againGame() {
                this.stopGame();
                this.$root.$router.push('/game/search');
            },
            stopGame() {
                this.winner = false;
                this.looser = false;
                this.$root.gameResult = false;
            },
        },
        mutations: {

        }
    }
</script>
