<template>
    <div class="game">
        <div class="game-make-bid-title">{{this.$root.Language.loc.bids.make_title}}</div>
        <div class="bottom-game-panel">
            <div class="game-bid">
                <div class="game-bid-title">{{this.$root.Language.loc.bids.choose}}</div>
                <div class="game-bid-sum">
                    <span v-for="item in this.$root.bids" class="game-bid-sum-select" @click="currentBid(item.id)">{{item.display_name}}</span>
                </div>
            </div>
            <router-link class="game-bid-start" to="/game/search" @click="startGame">
                <div class="game-bid-start-title">{{this.$root.Language.loc.bids.make}}</div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        data () {
            return {};
        },
        mounted () {

            $(document).ready(function () {
                $('.game-bid-sum-select').click(function () {
                    $('.game-bid-sum-select').removeClass('active');
                    $(this).addClass('active');
                });
            });
        },
        methods: {
            currentBid(id) {
                let app = this.$root;
                app.setBid = id;
            },
            startGame(){
                let app = this.$root;
                app.startGame();
            }
        },
    }
</script>

