<template>
  <div class="game">

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

Component({});
export default {
    mounted () {
        console.log('Component mounted.');
        // if (!this.user) {
        //     router.push('/login');
        // }
        // else {
        //     router.push('/game/start');
        // }
    }
}
</script>
