<template>
    <div class="game">
        <div class="auth">
            <div class="auth-title">{{this.$root.Language.loc.login}}</div>
            <div class="form">
                <form autocomplete="off" @submit.prevent="login" method="post">
                    <label class="label-title">{{this.$root.Language.loc.login_label}}</label>
                    <input class="form-input" ref="login" name="login" v-model="email" required>
                    <label class="label-title">{{this.$root.Language.loc.password}}</label>
                    <input class="form-input" ref="password" name="password" v-model="password" type="password"
                           required>
                    <a class="form-link">{{this.$root.Language.loc.password_forgot}}</a>
                    <router-link to="/register" class="form-link">{{this.$root.Language.loc.dont_have_acc}}</router-link>
                    <div class="form-buttons">
                        <a class="form-button-vk" href="https://vk.com"><img src="/img/button-vk.png"></a>
                        <a class="form-button-google" href="https://google.com"><img src="/img/button-google.png"></a>
                        <a class="form-button-twitter" href="https://twitter.com"><img
                            src="/img/button-twitter.png"></a>
                    </div>
                    <a class="form-button" type="submit" @click="login">{{this.$root.Language.loc.login_button}}</a>
                </form>
            </div>
        </div>
        <div class="bottom-game-panel" :winners="winners">
            <div class="player" v-for="item in winners">
                <div class="player-avatar"><img src="/img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+{{ item.winsum }} Р.</div>
                <div class="player-name">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                winners: [],
                email: null,
                password: null,
                error: false,
                jwttoken: localStorage.getItem('laravel-jwt-auth') || '',
            }
        },
        mounted() {
            this.getWinners();
        },
        methods: {
            login() {
                console.log('login try');
                let app = this;
                this.$http.post(
                    '/auth/login',
                    {
                        email: app.email,
                        password: app.password
                    },
                ).then(function (resp) {
                    app.jwttoken = resp.data.access_token
                    localStorage.setItem('laravel-jwt-auth', app.jwttoken);
                    Vue.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('laravel-jwt-auth');

                    app.$auth.login({
                        data: {
                            email: app.email,
                            password: app.password
                        },
                        config: {
                            headers: {
                                Authorization: 'Bearer ' + app.jwttoken
                            }
                        },
                        success: function () {
                            app.$root.getProfile();
                        },
                        error: function () {
                        },
                        rememberMe: true,
                        redirect: '/game/start',
                        fetchUser: true,
                    });
                });
            },
            getWinners() {
                let app = this;
                this.$http.post(
                    '/winners',
                ).then(function (resp) {
                    app.winners = resp.data.winners;
                });
            },
        }
    }
</script>
