<template>
    <div id="nav">
        <router-link to="/" id="index" v-if="!$auth.check()" v-for="(route, key) in routes.unlogged" v-bind:key="route.path">Главная</router-link>
        <a id="help" @click="showRulesModal">Как играть?</a>
        <div id="app-name">
            <router-link to="/" id="logo"><img src="/img/logoruletka2.png"></router-link>
        </div>
        <a v-show="user" id="profile" @click="showProfileModal">Профиль</a>
        <a v-show="!user" to="/register" id="register">Регистрация</a>
        <router-link v-show="!user" to="/login" class="login">Войти</router-link>
        <router-link v-show="user" to="/logout" class="login">Войти</router-link>
    </div>
</template>


<script lang="ts">
    export default {

    }
</script>
