<template>
    <div class="modal-backdrop">
        <div id="nav-mobile">
            <router-link to="/" class="btn-nav">{{this.$root.Language.loc.home}}</router-link>
            <a class="btn-nav" @click="showRulesModal">{{this.$root.Language.loc.how_to_play}}</a>
            <a v-if="$auth.check()" class="btn-nav" @click="showProfileModal">{{this.$root.Language.loc.profile}}</a>
            <a v-if="$auth.check()" @click.prevent="$auth.logout()" class="btn-nav">{{this.$root.Language.loc.logout}}</a>
            <router-link v-if="!$auth.check()" to="/register" class="btn-nav">{{this.$root.Language.loc.register}}</router-link>
            <router-link v-if="!$auth.check()" to="/login" class="btn-nav">{{this.$root.Language.loc.login}}</router-link>
            <button
                type="button"
                class="btn-close"
                @click="$emit('close')"
                aria-label="Close modal"
            >
            </button>
        </div>
    </div>
</template>


<script lang="ts">
    export default {
        name: 'mobile-navigation',
        data() {
            return {
                count: 0,
            }
        },
        methods: {
            showProfileModal() {
                this.$root.isProfileVisible = true;
                this.$emit.close();
            },
            closeProfileModal() {
                this.$root.isProfileVisible = false;
            },
            showRulesModal() {
                this.$root.isGameRulesVisible = true;
                this.$emit.close();
            },
            closeRulesModal() {
                this.$root.isGameRulesVisible = false;
            },
        },

    }
</script>
