<template>
    <div id="nav">
        <router-link to="/" id="index">{{this.$root.Language.loc.home}}</router-link>
        <a id="help" @click="showRulesModal">{{this.$root.Language.loc.how_to_play}}</a>
        <div id="app-name">
            <router-link to="/" id="logo"><img src="/img/logoruletka2.png"></router-link>
        </div>
        <a v-if="$auth.check()" id="profile" @click="showProfileModal">{{this.$root.Language.loc.profile}}</a>
        <a v-if="$auth.check()" @click.prevent="$auth.logout()" class="login">{{this.$root.Language.loc.logout}}</a>
        <router-link v-if="!$auth.check()" to="/register" id="register">{{this.$root.Language.loc.register}}</router-link>
        <router-link v-if="!$auth.check()" to="/login" class="login">{{this.$root.Language.loc.login}}</router-link>
    </div>
</template>


<script lang="ts">
    export default {
        name: 'navigation',
        data() {
            return {
                count: 0,
            }
        },
        methods: {
            showProfileModal() {
                this.$root.isProfileVisible = true;
                this.$root.isMobileMenuVisible = false;
            },
            showRulesModal() {
                this.$root.isGameRulesVisible = true;
                this.$root.isMobileMenuVisible = false;
            },
        },

    }
</script>
