<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                            type="button"
                            class="btn-close"
                            @click="$emit('close')"
                            aria-label="Close modal"
                        >
                        </button>
                    </slot>
                </header>
                <section
                    class="modal-body"
                    id="modalDescription"
                >
                    <slot name="body">
                        <div class="mbody-overflow">
                            <div class="row title-row">{{this.$root.Language.loc.payment_system.choose}}</div>
                            <div class="row title-row">{{this.$root.Language.loc.payment_system.sum}} {{this.$root.user.refill_balance}} р.</div>
                            <div class="row width">
                                <img src="/img/yandexmoney.png">
                                <img src="/img/qiwi.png">
                                <img src="/img/pb24.png">
                            </div>
                        </div>
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    export default {
        name: "game-rules",
        methods: {
        },
    };
</script>
