<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">

                        <button
                            type="button"
                            class="btn-close"
                            @click="$emit('close')"
                            aria-label="Close modal"
                        >
                        </button>
                    </slot>
                </header>
                <section
                    class="modal-body"
                    id="modalDescription"
                >
                    <slot name="body">
                        <div class="mbody-overflow row width">
                            <div class="title-row">{{this.$root.Language.loc.profiles.title}} {{this.$root.user.name}}</div>
                            <div class="left">
                                <div>
                                    <label class="profile">{{this.$root.Language.loc.profiles.name}}</label>
                                    <input class="profile" v-model.trim="this.$root.user.name" @input="checkExistName($event)">
                                    <label class="profile">{{this.$root.Language.loc.profiles.change_character}}</label>
                                    <select class="profile"></select>
                                    <label class="profile" disabled>{{this.$root.Language.loc.profiles.phrases}}</label>
                                    <select class="profile" disabled></select>
                                    <label class="profile">{{this.$root.Language.loc.profiles.your_balance}}</label>
                                    <input class="profile"  v-model.trim="this.$root.user.balance" readonly>
                                    <button class="profile-balance" @click="showPaymentsModal">{{this.$root.Language.loc.profiles.withdraw}}</button>
                                </div>
                            </div>
                            <div class="middle">
                                <img src="/img/avatarsource.png">

                                <button class="profile-save" @click="this.$root.updateProfile">{{this.$root.Language.loc.profiles.save}}</button>
                            </div>
                            <div class="right">
                                <div>
                                    <label class="profile">{{this.$root.Language.loc.profiles.email}}</label>
                                    <input class="profile"  v-model.trim="this.$root.user.email"  @input="checkExistEmail($event)">
                                    <label class="profile">{{this.$root.Language.loc.profiles.password}}</label>
                                    <input class="profile"  v-model.trim="this.$root.user.password" @input="checkExistPassword($event)">
                                    <label class="profile">{{this.$root.Language.loc.profiles.password_confirm}}</label>
                                    <input class="profile"  v-model.trim="this.$root.user.password_confirm" @input="checkExistPasswordConfirm($event)">
                                    <label class="profile">{{this.$root.Language.loc.profiles.refill_balance}}</label>
                                    <input class="profile" v-model.trim="this.$root.user.refill_balance" @input="checkExistRefill($event)">
                                    <button class="profile-balance" @click="showPaymentsModal">{{this.$root.Language.loc.profiles.refill}}</button>
                                </div>
                            </div>

                        </div>
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    Vue.use(VueAxios, axios)

    export default {
        name: "profile",
        props: [
            'profile',
        ],
        components: {},
        data() {
            return {
                phrases: 'disabled',
                profileData: [],
            }
        },
        mounted () {
            let app = this;
        },
        methods: {
            close() {
                this.close();
            },
            showPaymentsModal() {
                this.$root.isPaymentsVisible = true;
                this.$root.isProfileVisible = false;
            },
            closePaymentsModal() {
                this.$root.isPaymentsVisible = false;
                this.$root.isProfileVisible = true;
            },
            checkExistName(event) {
                this.$root.user.name = event.target.value;
            },
            checkExistEmail(event) {
                this.$root.user.email = event.target.value;
            },
            checkExistPassword(event) {
                this.$root.user.password = event.target.value;
            },
            checkExistPasswordConfirm(event) {
                this.$root.user.password_confirm = event.target.value;
            },
            checkExistRefill(event) {
                this.$root.user.refill_balance = event.target.value;
            },
        },
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
