<template>

    <div class="game">
        <div class="auth">
            <div class="auth-title register-title" style="height: 48px;">{{this.$root.Language.loc.registration}}</div>
            <div class="form">
                <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
                    <label class="label-title">{{this.$root.Language.loc.login_label}}</label>
                    <input class="form-input" ref="login" name="login" v-model="email" required>
                    <span class="help-block" v-if="error && errors.name">{{ errors.email }}</span>
                    <label class="label-title">{{this.$root.Language.loc.password}}</label>
                    <input class="form-input" ref="password" name="password" v-model="password" type="password"
                           required>
                    <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
                    <div class="form-buttons">
                        <a class="form-button-vk" href="https://vk.com"><img src="/img/button-vk.png"></a>
                        <a class="form-button-google" href="https://google.com"><img src="/img/button-google.png"></a>
                        <a class="form-button-twitter" href="https://twitter.com"><img
                            src="/img/button-twitter.png"></a>
                    </div>
                    <a class="form-button register" type="submit" @click="register">{{this.$root.Language.loc.register}}</a>
                </form>
            </div>
        </div>
        <div class="bottom-game-panel" :winners="winners">
            <div class="player" v-for="item in winners">
                <div class="player-avatar"><img src="/img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+{{ item.winsum }} Р.</div>
                <div class="player-name">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false,
                winners: [],
            };
        },
        mounted() {
            this.getWinners();
        },
        methods: {
            register(){
                var app = this
                this.$auth.register({
                    data: {
                        // name: app.name,
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        app.$router.push('/login')
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            },
            getWinners() {
                let app = this;
                this.$http.post(
                    '/winners',
                ).then(function (resp) {
                    app.winners = resp.data.winners;
                });
            },
        }
    }
</script>
