<template>
    <div class="game">
        <div class="game-search-bid">{{this.$root.Language.loc.search.bid}}<span>500 р.</span></div>
        <div class="game-search-bid-title text-green"><img src="/img/11123wwwwwww33wwww.png">{{this.$root.Language.loc.search.title}}</div>
        <div class="bottom-game-panel" :winners="winners">
            <div class="player"  v-for="item in winners">
                <div class="player-avatar"><img src="/img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+{{ item.winsum }} Р.</div>
                <div class="player-name">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        data () {
            return {
                winners: [],
            };
        },
        mounted () {

            this.getWinners();
            let app = this;
            $(document).ready(function () {
                $('.game-bid-sum-select').click(function () {
                    $('.game-bid-sum-select').removeClass('active');
                    $(this).addClass('active');
                });

                //redirect to game found after {2,12} sec
                setTimeout(function () {
                    app.$router.push('found');
                }, Math.floor(Math.random() * (12000 - 2000 + 1)) + 2000)
            });
        },
        methods:{
            remove: function(index){
                this.users.splice(index, 1)
            },
            game(){
                //found or create new game by api
                //returns websocket game channel
            },

            getWinners(){
                let app = this;
                this.$http.post(
                    '/winners',
                ).then(function (resp) {
                    app.winners = resp.data.winners;
                });
            },
        }
    }
</script>

<style lang="scss">
</style>
