<template>
    <div class="game">
        <div class="action">
            <div class="left">
                <video width="370" autoplay muted>
                    <!--<source :src="leftPlayer" type="video/mp4">-->
                </video>
            </div>
            <div class="right">
                <video width="370" autoplay muted>
                    <!--<source :src="rightPlayer" type="video/mp4">-->
                </video>
            </div>

        </div>
        <div class="bottom-game-panel">
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

    import $ from 'jquery';
    import router from '../router';
    import gameWin from '../components/GameWin';

    export default {
        components: {gameWin},
        props: {
            leftPlayer: {
                type: String()
            },
            rightPlayer: {
                type: String()
            },
        },
        data () {
            return {
                leftPlayer: this.leftPlayer,
                rightPlayer: this.rightPlayer,
            };
        },
        mounted () {
            let curr = this;
            $(document).ready(function () {
                curr.leftPlayer = '../animations/left/cowboy/берет.mp4';
                curr.rightPlayer = '../animations/right/cowboy/берет.mp4';
            });
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    #saloon {
        z-index: -1;
    }
    .game {
        padding: 0;
    }

    .action {
        margin-left: auto;
        margin-right: auto;
        width: 740px;
        height: 455px;
        padding-top: 16px;
        z-index: -1;
        position: relative;

        .left {
            width: 370px;
            display: inline-block;
            margin-left: 0;
            margin-right: auto;
            padding: 0;
        }

        .right {
            width: 370px;
            display: inline-block;
            margin-left: auto;
            margin-right: 0;
            padding: 0;
        }
    }

    .auth {
        background-image: url("../img/authbg.png");
        background-size: contain;
        position: absolute;
        bottom: 264px;
        width: 300px;
        height: 373px;
        background-position-x: center;
        background-position-y: bottom;
        left: 340px;
    }

    .auth-title {
        user-select: none;
        background-image: url("../img/buttonwodenbig.png");
        background-size: contain;
        position: absolute;
        bottom: 320px;
        width: 169px;
        height: 54px;
        background-position-x: center;
        background-position-y: bottom;
        left: 73px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 36px;
        padding-top: 10px;
        text-transform: uppercase;

    }

    .form {
        position: absolute;
        bottom: -10px;
        width: 209px;
        height: 310px;
        background-position-x: center;
        background-position-y: bottom;
        left: 53px;
    }

    .form-button {
        background-image: url("../img/buttonwodenbig.png");
        background-size: contain;
        position: absolute;
        bottom: 0px;
        width: 169px;
        height: 54px;
        background-position-x: center;
        background-position-y: bottom;
        left: 20px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 36px;
        padding-top: 10px;
        text-transform: uppercase;
    }

    .form-button:hover {
        background-image: url("../img/buttonwodenbig-focus.png");
    }

    .form-button:active {
        background-image: url("../img/buttonwodenbig-active.png");
    }

    .label-title {
        display: block;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 3px;

    }

    .form-input {
        background-image: url("../img/inputbg.png");
        border: 0px solid #444444;
        height: 36px;
        width: 201px;
        color: #fff;
        padding-left: 4px;
        font-size: 20px;
        background-color: transparent;
        margin-bottom: 14px;
    }

    .form-link {
        display: block;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 11px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    a {
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

    .form-button-vk {
        padding: 0px 1px;
    }

    .form-button-twitter {
        padding: 0px 1px;
    }

    .form-button-google {
        padding: 0px 1px;
    }

    .bottom-game-panel {
        position: absolute;
        width: 635px;
        height: 100px;
        left: 155px;
        bottom: 140px;
    }

    .player {
        width: 87px;
        margin-left: 20px;
        position: relative;
        display: inline-block;
    }

    .player-avatar {
        background-image: url("../img/ada2w3123325aq.png");
        background-size: 100% 100%;
        height: 78px;
        width: 78px;

        img {
            margin-top: -6px;
            height: 78px;
            width: 71px;
        }
    }

    .player-balance {
        background-image: url("../img/ssawd.png");
        position: absolute;
        top: 56px;
        left: 6px;
        padding: 0px 4px 6px 0;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #431c16;
        height: 15px;
        background-size: 100% 100%;
        width: 58px;
    }

    .player-name {
        background-image: url("../img/wqwee.png");
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        font-family: "Gotham Pro";
        font-size: 11px;
        font-style: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(12, 9, 8, 0.004);
        color: white;
        padding-bottom: 5px;
        padding-top: 2px;
        margin-left: -12px;
    }
</style>
