<template>
    <div class="game">
        <div class="game-make-bid-title">Сделайте ставку</div>
        <div class="bottom-game-panel">
            <div class="game-bid">
                <div class="game-bid-title">Выберите сумму ставки!</div>
                <div class="game-bid-sum">
                    <span class="game-bid-sum-select">10</span>
                    <span class="game-bid-sum-select">25</span>
                    <span class="game-bid-sum-select">50</span>
                    <span class="game-bid-sum-select">100</span>
                    <span class="game-bid-sum-select">200</span>
                    <span class="game-bid-sum-select">500</span>
                    <span class="game-bid-sum-select">1000</span>
                </div>
            </div>
            <router-link class="game-bid-start" to="/game/search">
                <div class="game-bid-start-title">Сделать ставку</div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        data () {
            return {};
        },
        mounted () {

            $(document).ready(function () {
                $('.game-bid-sum-select').click(function () {
                    $('.game-bid-sum-select').removeClass('active');
                    $(this).addClass('active');
                });
            });
        }
    }
</script>

<style lang="scss">
    .game {
        padding-top: 195px;
    }
    .game-make-bid-title {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #ffc706;
        text-transform: uppercase;
        line-height: 1.88;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff9a1), color-stop(50%, #c19c1e));
        background: linear-gradient(-180deg, #fff9a1 50%, #c19c1e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bottom-game-panel {
        position: absolute;
        width: 635px;
        height: 100px;
        left: 155px;
        bottom: 140px;
    }

    .game-bid {
        background-image: url("../img/bids_________sasdasdadadada.png");
        position: relative;
        width: 490px;
        height: 100px;
        margin-left: -140px;
        display: inline-block;
        background-size: 100% 100%;
    }

    .game-bid-title {
        font-family: "Gotham Pro";
        font-size: 11px;
        font-style: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(12, 9, 8, 0.004);
        color: white;
        padding-bottom: 6px;
        padding-top: 20px;
        text-align: left;
        padding-left: 30px;
    }

    .game-bid-sum-select {
        cursor: pointer;
        padding: 4px;
    }
    .game-bid-sum-select:hover {
        background-image: url("../img/bid-active.png");
        background-size: 100% 7px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .game-bid-sum-select.active {
        background-image: url("../img/bid-active.png");
        background-size: 100% 7px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .game-bid-sum {
        font-size: 14px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: rgb(255, 199, 6);
        text-transform: uppercase;
        line-height: 1.88;
        background: linear-gradient(-180deg, #fff9a1 50%, #c19c1e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -webkit-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -ms-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
    }

    .game-bid-start-title {
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #fff;
        text-transform: uppercase;
        font-size: 26px;
        padding: 17px;
        margin-left: 9px;
    }
    .game-bid-start {
        background-image: url("../img/zip1_0005s_0002_Слой-45.png");
        position: absolute;
        width: 145px;
        height: 100px;
        margin: 0;
        display: inline-block;
        background-size: 100% 100%;
        cursor: pointer;
        text-decoration: none;
    }
    .game-bid-start:hover {
        background-image: url("../img/zip1_0005s_0005_Слой-45.png");
    }
    .game-bid-start:active {
        background-image: url("../img/zip1_0005s_0008_Слой-45.png");
    }
</style>
