<template>
    <div class="game">
        <router-link to="/game/make_bid" class="game-start">Начать игру</router-link>
        <div class="bottom-game-panel">
            <div class="game-stat">
                <div class="game-stat-title">Игр сыграно:</div>
                <div class="game-stat-count">123</div>
            </div>
            <div class="game-stat">
                <div class="game-stat-title">Выиграно:</div>
                <div class="game-stat-count">46000 р.</div>
            </div>
            <div class="game-stat">
                <div class="game-stat-title">Ваш баланс:</div>
                <div class="game-stat-count">46000 р.</div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .game {
        padding-top: 250px;
    }
    .game-start {
        text-decoration: none;
        background-image: url("../img/buttonwodenbig.png");
        background-size: 100% 100%;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 24px;
        padding: 18px;
        text-transform: uppercase;
        cursor: pointer;
        text-shadow: -2px 1px 0 #632c15;
    }

    .game-start:hover {
        background-image: url("../img/buttonwodenbig-focus.png");
    }

    .game-start:active {
        background-image: url("../img/buttonwodenbig-active.png");
    }

    .bottom-game-panel {
        position: absolute;
        width: 635px;
        height: 100px;
        left: 155px;
        bottom: 140px;
    }

    .game-stat {
        background-image: url("../img/gamestat_3.png");
        position: relative;
        width: 168px;
        height: 85px;
        margin: 10px 18px;
        display: inline-block;
    }
    .game-stat:before {
        background-image: url("../img/gamestat_2.png");
        content: " ";
        position: absolute;
        width: 200px;
        height: 120px;
        left: -16px;
        top: -15px;
    }
    .game-stat:after {
        background-image: url("../img/gamestat_1.png");
        content: " ";
        position: absolute;
        width: 200px;
        height: 120px;
        left: -16px;
        top: -15px;
    }

    .game-stat-title {
        font-family: "Gotham Pro";
        font-size: 11px;
        font-style: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(12, 9, 8, 0.004);
        color: white;
        padding-bottom: 6px;
        padding-top: 17px;
    }

    .game-stat-count {
        font-size: 14px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: rgb(255, 199, 6);
        text-transform: uppercase;
        line-height: 1.88;
        background: linear-gradient(-180deg, #fff9a1 50%, #c19c1e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -webkit-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -ms-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
    }
</style>
