<template>
  <div class="game">

  </div>
</template>

<script lang="ts">
import router from '../router';
import { Component, Vue } from 'vue-property-decorator';
import Game from '../components/Game.vue'; // @ is an alias to /src //replaced @ with ..
import GameRules from '../components/GameRules.vue'; // @ is an alias to /src //replaced @ with ..

@Component({
  components: {
    Game,
    GameRules,
  },
})
export default class Home extends Vue {

    mounted () {
        if (!this.user) {
            router.push('/login');
        }
        else {
            router.push('/game/start');
        }
    }
}
</script>
