<template>
    <div class="game">
        <div class="auth">
            <div class="auth-title">Вход</div>
            <div class="form">
                <form>
                    <label class="label-title">Логин</label>
                    <input class="form-input" name="login">
                    <label class="label-title">Пароль</label>
                    <input class="form-input" name="password">
                    <a class="form-link">Забыли пароль?</a>
                    <a class="form-link">У меня нет аккаунта</a>
                    <div class="form-buttons">
                        <a class="form-button-vk"><img src="../img/button-vk.png"></a>
                        <a class="form-button-google"><img src="../img/button-google.png"></a>
                        <a class="form-button-twitter"><img src="../img/button-twitter.png"></a>
                    </div>
                    <a class="form-button" type="submit" @click="makeAuth">Войти</a>
                </form>
            </div>
        </div>
        <div class="bottom-game-panel">
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
            <div class="player">
                <div class="player-avatar"><img src="../img/wwrtwrtwartaw11.png"></div>
                <div class="player-balance">+600 Р.</div>
                <div class="player-name">Иван Иванов</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    export default {
        methods: {
            makeAuth() {
                this.user = {
                    id: 1,
                };
                console.log(this.user.id);
            }
        },
    };
</script>

<style lang="scss">
    .auth {
        background-image: url("../img/authbg.png");
        background-size: contain;
        position: absolute;
        bottom: 264px;
        width: 300px;
        height: 373px;
        background-position-x: center;
        background-position-y: bottom;
        left: 340px;
    }

    .auth-title {
        user-select: none;
        background-image: url("../img/buttonwodenbig.png");
        background-size: contain;
        position: absolute;
        bottom: 320px;
        width: 169px;
        height: 54px;
        background-position-x: center;
        background-position-y: bottom;
        left: 73px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 36px;
        padding-top: 10px;
        text-transform: uppercase;

    }

    .form {
        position: absolute;
        bottom: -10px;
        width: 209px;
        height: 310px;
        background-position-x: center;
        background-position-y: bottom;
        left: 53px;
    }

    .form-button {
        text-decoration: none;
        background-image: url("../img/buttonwodenbig.png");
        background-size: contain;
        position: absolute;
        bottom: 0px;
        width: 169px;
        height: 54px;
        background-position-x: center;
        background-position-y: bottom;
        left: 20px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 36px;
        padding-top: 10px;
        text-transform: uppercase;
    }

    .form-button:hover {
        background-image: url("../img/buttonwodenbig-focus.png");
    }

    .form-button:active {
        background-image: url("../img/buttonwodenbig-active.png");
    }

    .label-title {
        display: block;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 3px;

    }

    .form-input {
        background-image: url("../img/inputbg.png");
        border: 0px solid #444444;
        height: 36px;
        width: 201px;
        color: #fff;
        padding-left: 4px;
        font-size: 20px;
        background-color: transparent;
        margin-bottom: 14px;
    }

    .form-link {
        display: block;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 11px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    a {
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

    .form-button-vk {
        padding: 0px 1px;
    }

    .form-button-twitter {
        padding: 0px 1px;
    }

    .form-button-google {
        padding: 0px 1px;
    }

    .bottom-game-panel {
        position: absolute;
        width: 635px;
        height: 100px;
        left: 155px;
        bottom: 140px;
    }

    .player {
        width: 87px;
        margin-left: 20px;
        position: relative;
        display: inline-block;
    }

    .player-avatar {
        background-image: url("../img/ada2w3123325aq.png");
        background-size: 100% 100%;
        height: 78px;
        width: 78px;

        img {
            margin-top: -6px;
            height: 78px;
            width: 71px;
        }
    }

    .player-balance {
        background-image: url("../img/ssawd.png");
        position: absolute;
        top: 56px;
        left: 6px;
        padding: 0px 4px 6px 0;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #431c16;
        height: 15px;
        background-size: 100% 100%;
        width: 58px;
    }

    .player-name {
        background-image: url("../img/wqwee.png");
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        font-family: "Gotham Pro";
        font-size: 11px;
        font-style: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(12, 9, 8, 0.004);
        color: white;
        padding-bottom: 5px;
        padding-top: 2px;
        margin-left: -12px;
    }
</style>
