<template>
    <div class="game">
        <div class="game-search-bid">Выбранная ставка: <span>500 р.</span></div>
        <div class="game-search-bid-title text-green"><img src="../img/11123wwwwwww33wwww.png"> Подождите, ищем вам соперника</div>
        <div class="bottom-game-panel">
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    import router from '../router';

    export default {
        data () {
            return {};
        },
        mounted () {
            $(document).ready(function () {
                $('.game-bid-sum-select').click(function () {
                    $('.game-bid-sum-select').removeClass('active');
                    $(this).addClass('active');
                });

                //redirect to game found after {2,12} sec
                setTimeout(function () {
                    router.push('found');
                }, Math.floor(Math.random() * (12000 - 2000 + 1)) + 2000)
            });
        },
        methods:{
            remove: function(index){
                this.users.splice(index, 1)
            }
        }
    }
</script>

<style lang="scss">
    .game {
        padding-top: 195px;
    }
    .game-search-bid-title {
        width: 685px;
        margin-left: auto;
        margin-right: auto;
        font-size: 38px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #fff;
        text-transform: uppercase;
        line-height: 1.88;

        img {
            position: relative;
            top: 8px;
        }
    }

    .bottom-game-panel {
        position: absolute;
        width: 635px;
        height: 100px;
        left: 155px;
        bottom: 140px;
    }

    .game-bid {
        background-image: url("../img/bids_________sasdasdadadada.png");
        position: relative;
        width: 490px;
        height: 100px;
        margin-left: -140px;
        display: inline-block;
        background-size: 100% 100%;
    }

    .game-search-bid {
        font-family: "Gotham Pro";
        font-size: 16px;
        font-style: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(12, 9, 8, 0.004);
        color: white;

        span {
            font-weight: bold;
            color: rgb(255, 199, 6);
            text-transform: uppercase;
            line-height: 1.88;
            background: linear-gradient(-180deg, #fff9a1 50%, #c19c1e 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
            -webkit-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
            -ms-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        }
    }

    .game-bid-sum-select {
        cursor: pointer;
        padding: 4px;
    }
    .game-bid-sum-select:hover {
        background-image: url("../img/bid-active.png");
        background-size: 100% 7px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .game-bid-sum-select.active {
        background-image: url("../img/bid-active.png");
        background-size: 100% 7px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .game-bid-sum {
        font-size: 14px;
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: rgb(255, 199, 6);
        text-transform: uppercase;
        line-height: 1.88;
        background: linear-gradient(-180deg, #fff9a1 50%, #c19c1e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -webkit-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
        -ms-transform: matrix( 2.11349907343655,0,0,2.11349907343655,0,0);
    }

    .game-bid-start-title {
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #fff;
        text-transform: uppercase;
        font-size: 26px;
        padding: 17px;
        margin-left: 9px;
    }
    .game-bid-start {
        background-image: url("../img/zip1_0005s_0002_Слой-45.png");
        position: absolute;
        width: 145px;
        height: 100px;
        margin: 0;
        display: inline-block;
        background-size: 100% 100%;
        cursor: pointer;
        text-decoration: none;
    }
    .game-bid-start:hover {
        background-image: url("../img/zip1_0005s_0005_Слой-45.png");
    }
    .game-bid-start:active {
        background-image: url("../img/zip1_0005s_0008_Слой-45.png");
    }
</style>
