<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">

                        <button
                            type="button"
                            class="btn-close"
                            @click="close"
                            aria-label="Close modal"
                        >
                        </button>
                    </slot>
                </header>
                <section
                    class="modal-body"
                    id="modalDescription"
                >
                    <slot name="body">
                        <div class="mbody-overflow row width">
                            <div class="title-row">Добрый день, USER</div>
                            <div class="left">
                                <div>
                                    <label class="profile">Имя</label>
                                    <input class="profile" value="">
                                    <label class="profile">Сменить персонажа</label>
                                    <select class="profile"></select>
                                    <label class="profile" disabled>Фразы</label>
                                    <select class="profile" disabled></select>
                                    <label class="profile">Ваш баланс</label>
                                    <input class="profile" value="">
                                </div>
                            </div>
                            <div class="middle"><img src="../img/avatarsource.png"></div>
                            <div class="right">
                                <div>
                                    <label class="profile">Почта</label>
                                    <input class="profile" value="">
                                    <label class="profile">Пароль</label>
                                    <input class="profile" value="">
                                    <label class="profile">Подтвердите пароль</label>
                                    <input class="profile" value="">
                                    <label class="profile">Пополнить баланс</label>
                                    <input class="profile" value="">
                                    <button class="profile-balance">Пополнить</button>
                                </div>
                            </div>

                            <button class="profile-save">Сохранить</button>
                        </div>
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component

    export default {
        name: "profile",
        methods: {
            close() {
                this.$emit("close");
            },
        },
        data() {
            return {
                phrases: 'disabled',
            }
        },
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal {
        background: none;
        display: flex;
        flex-direction: column;
    }

    .modal-header,
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-header {
        position: relative;
        height: 42px;
        width: 810px;
        background-image: url("../img/popupbg.png");
        background-size: 100% auto;
        color: #4AAE9B;
        justify-content: space-between;
    }

    .modal-footer {
        position: relative;
        height: 42px;
        width: 810px;
        background-image: url("../img/popupbg.png");
        background-size: 100% auto;
        background-position: bottom;
        justify-content: flex-end;
    }

    .modal-body {
        background-image: url("../img/popupbg.png");
        position: relative;
        padding: 20px 10px;
        background-position-y: -73px;
        height: 476px;
        width: 825px;
        margin-right: auto;
        margin-left: auto;
        background-size: 840px auto;
    }

    .mbody-overflow {
        height: 476px;
        width: 645px;
        position: relative;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .mbody-overflow::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: #5e301d;
        border-color: #d08a4b;
        border-width: 2px;
        background-clip: content-box;
        width: 50px;
    }

    .mbody-overflow::-webkit-scrollbar-track-piece
    {
        height: 400px;
        border-radius: 10px;
        border-color: #d08a4b;
        border-width: 2px;
        border-style: solid;
        background-clip: content-box;
    }

    .mbody-overflow::-webkit-scrollbar {
        position: absolute;
        right: 25px;
        width: 19px;
        border-radius: 10px;
        background-color: #5e301d;
        border-color: #d08a4b;
        border-width: 2px;
    }

    .mbody-overflow::-webkit-scrollbar-thumb
    {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: " ";
        background-image: url("../img/scrollbtn.png");
        background-size:19px 43px;
        background-repeat: no-repeat;
        background-position: center;
        width: 19px;
        height: 43px;
        z-index: 999;
        border-radius: 0;
        background-clip: content-box;
    }

    .mbody-overflow::-webkit-scrollbar-thumb:after
    {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: " ";
        background-image: url("../img/scrollbtn.png");
        background-size:26px 63px;
        width: 30px;
        height: 100px;
        z-index: 999;
        border-radius: 0;
    }

    .btn-close {
        background-image: url("../img/buttonclosebg.png");
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 81px;
        height: 76px;
        position: absolute;
        right: 9px;
        top: -17px;
    }

    .btn-close:after {
        width: 36px;
        height: 35px;
        position: absolute;
        top: 22px;
        left: 22px;
        content: " ";
        background-image: url("../img/buttoncloseicon.png");
    }

    .btn-green {
        color: white;
        background: #4AAE9B;
        border: 1px solid #4AAE9B;
        border-radius: 2px;
    }

    .row {
        width: 600px;
        margin: auto;
    }

    .row.width {
        width: 645px;
    }

    .title-row {
        font-family: "AWT Hamilton Tuscan Egyptian";
        color: #341303;
        font-size: 36px;
        padding-top: 10px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .left {
        position: absolute;
        top: 75px;
        left: 0;
        display: inline-block;
        margin-left: 0;
        margin-right: auto;
        width: 200px;
    }
    .left div {
        display: grid;
    }
    .middle img {
        width: 200px;
    }
    .middle {
        position: absolute;
        display: inline-block;
        top: 90px;
        left: 222px;
    }
    .right {
        position: absolute;
        top: 75px;
        right: 0;
        display: inline-block;
        margin-right: 0;
        margin-left: auto;
        width: 200px;
    }
    .right div {
        display: grid;
    }
    label.profile[disabled="disabled"] {
        opacity: 0.5;
    }
    label.profile {
        display: inline-block;
        width: 200px;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 3px;
    }
    input.profile {
        background-image: url("../img/inputbg.png");
        border: 0px solid #444444;
        height: 36px;
        width: 192px;
        color: #fff;
        padding-left: 4px;
        font-size: 20px;
        background-color: transparent;
        margin-bottom: 14px;
        background-size: 100% 100%;
    }
    button.profile-balance {
        cursor: pointer;
        border: none;
        background-color: transparent;
        background-image: url("../img/1btngreen.png");
        width: 117px;
        height: 38px;
        font-family: "Gotham Pro";
        color: white;
        font-size: 15px;
        text-transform: uppercase;
    }

    button.profile-save {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;

        border: none;
        background-color: transparent;
        background-image: url("../img/2btngreen.png");
        width: 213px;
        height: 69px;

        font-family: "AWT Hamilton Tuscan Egyptian";
        color: white;
        font-size: 36px;
        text-transform: uppercase;
    }

    select.profile[disabled="disabled"] {
        opacity: 0.5;
    }
    select.profile {
        background-image: url("../img/inputbg.png");
        border: 0px solid #444444;
        height: 36px;
        width: 192px;
        color: #fff;
        padding-left: 4px;
        font-size: 20px;
        background-color: transparent;
        margin-bottom: 14px;
        background-size: 100% 100%;
    }

    .text {
        width: 600px;
        margin: auto;
    }
    .col-6 {
        width: 50%;
        display: inline-block;
        position: relative;
        margin-bottom: 10px;
    }
    .col-6 img {
        position: relative;
        margin-left: -228px;
        display: inline-block;
    }
    .col-6 label {
        display: inline-block;
        width: 220px;
        color: #341303;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 3px;
        position: absolute;
        top: 20px;
        margin-left: 13px;
        text-align: left;
    }
</style>
