<template>
    <div id="app">
        <profile v-show="isProfileVisible" @close="closeProfileModal" />
        <gameRules v-show="isGameRulesVisible" @close="closeRulesModal" />
        <div id="nav">
            <router-link to="/" id="index">Главная</router-link>
            <a id="help" @click="showRulesModal">Как играть?</a>
            <div id="app-name">
                <router-link to="/" id="logo"><img src="./img/logoruletka2.png"></router-link>
            </div>
            <a v-show="user" id="profile" @click="showProfileModal">Профиль</a>
            <a v-show="!user" to="/register" id="register">Регистрация</a>
            <router-link v-show="!user" to="/login" class="login">Войти</router-link>
            <router-link v-show="user" to="/logout" class="login">Войти</router-link>
        </div>
        <div id="saloon">
        </div>
        <div id="game">
            <div id="title"><img src="./img/game-title.png"></div>
            <div id="buttons">
                <a id="info"></a>
                <a id="sound" @click="toggleSound()"></a>
                <a id="lang"><img src="./img/buttonlangen.png"></a>
                <a id="full-screen" @click="toggleFullscreen()"></a>
            </div>
            <div id="bottom-game-panel">
                <img id="bottom-game-avatar" src="./img/avatar-default.png">
            </div>
            <router-view/>
        </div>
        <div id="bgelements"></div>
    </div>
</template>


<script lang="ts">
    import profile from './components/Profile.vue';
    import gameRules from './components/GameRules.vue';

    import $ from 'jquery';
    // import fullscreen from 'vue-fullscreen/src/component';
    import { Component,  Vue } from 'vue-property-decorator';

    @Component
    export default {
        // components: {fullscreen},
        components: {profile,gameRules},
        props: [
            'allData',
        ],
        computed: {},
        mounted () {
            if( this.isSound )
            {
                $('#sound').addClass('active');
            }
            else {
                $('#sound').removeClass('active');
            }
            console.log(this.allData);
        },
        data() {
            return {
                isSound: true,
                isProfileVisible: false,
                isGameRulesVisible: false,
                user: false,
                phrases: 'disabled',
            }
        },
        methods: {
            showProfileModal() {
                this.isProfileVisible = true;
            },
            closeProfileModal() {
                this.isProfileVisible = false;
            },
            showRulesModal() {
                this.isGameRulesVisible = true;
            },
            closeRulesModal() {
                this.isGameRulesVisible = false;
            },
            makeAuth() {
                this.user = {
                    id: 1,
                };
                console.log(this.user.id);
            },
            toggleFullscreen() {
                if (!document.fullscreenElement &&
                    !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
                    if (document.documentElement.requestFullscreen) {
                        document.documentElement.requestFullscreen();
                    } else if (document.documentElement.msRequestFullscreen) {
                        document.documentElement.msRequestFullscreen();
                    } else if (document.documentElement.mozRequestFullScreen) {
                        document.documentElement.mozRequestFullScreen();
                    } else if (document.documentElement.webkitRequestFullscreen) {
                        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    }
                    $('#full-screen').addClass('active');
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                    $('#full-screen').removeClass('active');
                }
            },
            toggleSound() {
                if( this.isSound )
                {
                    $('#sound').removeClass('active');
                    this.isSound = false;
                }
                else {
                    $('#sound').addClass('active');
                    this.isSound = true;
                }
            },
        },
    }
</script>

<style lang="scss">
    @import 'assets/fonts/stylesheet.css';
    html, body {
        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: normal;
        height: 100%;
        margin: 0px;
        padding: 0px;
        min-width: 1300px;
        overflow: hidden;
    }

    body {
        display: block;
        width: 100%;
        background-image: url("./img/gamebackground.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        background-attachment: fixed;
    }

    #game {
        background-image: url("./img/gameborder.png");
        background-size: contain;
        position: absolute;
        bottom: 0;
        width: 1051px;
        height: 858px;
        background-position-x: center;
        background-position-y: bottom;
        left: 150px;
    }

    #title {
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 430px;
            height: 50px;
        }
    }

    #saloon {
        background-image: url("./img/saloonbackground.jpg");
        background-size: cover;
        position: absolute;
        background-position-x: center;
        background-position-y: bottom;
        width: 745px;
        height: 440px;
        bottom: 240px;
        left: 285px;
    }

    #bottom-game-panel {
        background-image: url("./img/bottompanel.png");
        background-position: center;
        background-size: contain;
        position: absolute;
        width: 825px;
        height: 164px;
        left: 130px;
        bottom: 109px;
        margin-top: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .game {
        width: inherit;
        height: -webkit-fill-available;
    }

    #bottom-game-avatar {
        position: absolute;
        bottom: 14px;
        right: 27px;
        width: 109px;
    }

    #bgelements {
        background-image: url("./img/bgelements.png");
        background-position: center;
        background-size: contain;
        position: absolute;
        width: 760px;
        height: 245px;
        left: 334px;
        bottom: 60px;
        pointer-events:none;
    }

    #buttons {
        width: inherit;
        position: absolute;
        cursor: pointer;

        a {
            background-image: url("./img/buttons-button-bg.png");
        }

        a:hover {
            background-image: url("./img/buttons-button-bg-focus.png");
        }

        a:active {
            background-image: url("./img/buttons-button-bg-active.png");
        }

        #info {
            background-image: url("./img/zip1_0008s_0006_Слой-1.png");
            width: 84px;
            height: 79px;
            position: absolute;
            left: 33px;
            top: 52px;

            img {
                pointer-events:none;
                padding-top: 24px;
            }
            &:hover {
                background-image: url("./img/zip1_0008s_0005_Слой-1-копия.png");
             }
            &:active {
                background-image: url("./img/zip1_0008s_0001_Слой-1-копия-2.png");
            }
        }

        #sound {
            background-image: url("./img/zip1_0009s_0000s_0000_Слой-2.png");
            width: 84px;
            height: 79px;
            position: absolute;
            left: 33px;
            top: 147px;

            img {
                pointer-events:none;
                padding-top: 24px;
            }
            &:hover {
                background-image: url("./img/zip1_0009s_0002_Слой-2-копия.png");
            }
            &:active {
                /*background-image: url("./img/zip1_0008s_0001_Слой-1-копия-2.png");*/
            }

            &.active:before {
                content: " ";
                width: 35px;
                height: 35px;
                top: 22px;
                left: 24px;
                position: absolute;
                background-image: url("./img/zip1_0009s_0001_Прямоугольник-2.png");
            }

            &.active:after {
                content: " ";
                width: 35px;
                height: 35px;
                top: 19px;
                left: 25px;
                position: absolute;
                background-image: url("./img/zip1_0009s_0000_Прямоугольник-2-копия.png");
            }
        }

        #lang {
            width: 84px;
            height: 79px;
            position: absolute;
            right: 46px;
            top: 52px;

            img {
                pointer-events:none;
                padding-top: 24px;
            }
        }

        #full-screen {
            width: 84px;
            height: 79px;
            position: absolute;
            right: 46px;
            top: 147px;

            &:after {
                background-image: url("./img/gofullscreen.png");
                content: " ";
                width: 41px;
                height: 39px;
                position: absolute;
                left: 22px;
                top: 22px;
            }
        }

        #full-screen.active {
            width: 84px;
            height: 79px;
            position: absolute;
            right: 46px;
            top: 147px;

            &:after {
                background-image: url("./img/fullscreenexit.png");
                content: " ";
                width: 41px;
                height: 39px;
                position: absolute;
                left: 22px;
                top: 22px;
            }
        }
    }

    #saloon::after {
        position: absolute;
        width: 745px;
        height: 440px;
        background-color: black;
        opacity: 0.5;
        content: " ";
        margin-left: -372px;
    }

    #app-name {
        display: inline-block;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width: 1300px;
        height: -webkit-fill-available;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    #nav {
        padding: 0;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
        width: 958px;
        position: inherit;
        z-index: 200;

        a:before {
            content: " ";
            position: absolute;
            background-image: url("./img/navbuttonbefore.png");
        }

        a {
            cursor: pointer;
            color: white;
            background-image: url("./img/navbutton.png");
            padding: 13px 13px;
            background-size: 100% 100%;
            position: inherit;
            text-transform: uppercase;
            text-decoration: none;
            font-family: "Gotham Pro";
            font-size: 11px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: 4px;
            text-shadow: 0px 0px 7px black;


            &.router-link-exact-active::backdrop {
                content: " ";

                -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.61);
                -moz-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.61);
                box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.61);
            }

            &.router-link-exact-active {
                color: white;
            }
        }

        #index:before {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -11px;
            left: 46px;
        }

        #index {
            position: absolute;
            top: 10px;
            left: 20px;
        }

        #help:before {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -33px;
            left: 60px;
        }

        #help {
            position: absolute;
            top: 28px;
            left: 163px;
        }

        #app-name {
            font-family: "AWT Hamilton Tuscan Egyptian";
            font-size: 28px;
            margin-top: 8px;
            #logo {
                background: none !important;
                background-image: none !important;
                img {
                    height: 36px;
                }
            }
        }

        #register:before {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -20px;
            right: 16px;
        }

        #register {
            position: absolute;
            top: 18px;
            right: 140px;
        }

        #register:after {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -20px;
            left: 16px;
            content: " ";
            position: absolute;
            background-image: url("./img/navbuttonbefore.png");
        }

        #profile:before {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -20px;
            right: 16px;
        }

        #profile {
            position: absolute;
            top: 18px;
            right: 140px;
        }

        #profile:after {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -20px;
            left: 16px;
            content: " ";
            position: absolute;
            background-image: url("./img/navbuttonbefore.png");
        }

        .login:before {
            width: 9px;
            background-size: initial;
            height: 36px;
            z-index: -1;
            top: -11px;
            right: 46px;
        }

        .login {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
    .game-popup {
        background-image: url("./img/popupbg.png");
    }
    .btn-close {
        background-image: url("./img/buttonclosebg.png");
    }
</style>
